body{
    padding-left: 20em;
    font-size: large;}

html{
    background-color: rgb(234, 235, 185);}

nav > ul {
    position:absolute;
    list-style: none;
    background-color:rgb(227, 179, 74);
    top: 5em;
    left: 5em;
    width: 10em;}

nav a {
    color: white;
    text-decoration: none;
    font-size: larger;
    display:block;
    padding: 10px;}

nav li:hover{
    background-color: #464646;}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

h1 {
    font-size: 50px;
    color:#464646;}

h2{
    font-size: 40px;
    color:#464646;}

h3{
    font-size: 30px;
    color: #464646;}

h4{
    font-size: 25px;
    color: #464646;}

.ex{
    color:white;
    background-color: #373737;
    border: 2px gray dashed;
    display: block;
    padding: 10px;
    width: 750px;
    font-style: italic;}

.top{
    color:#464646;
    font-size: small;
    list-style: none ;
    text-decoration: none;
}

.div{
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}




.serif {
    font-family: Times, "Times New Roman", Georgia, serif;
}
      
.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
      
.monospace {
    font-family: "Lucida Console", Courier, monospace;
}
      
.cursive {
    font-family: cursive;
}
      
.fantasy {
    font-family: fantasy; 
}


.small {
    font-size: xx-small;
}

.larger {
    font-size: larger;
}

.point {
    font-size: 24pt;
}

.percent {
    font-size: 200%;
}    


.condensed {
    font-stretch: 50%;
}
  
.normal {
    font-stretch: 100%;
}
  
.expanded {
    font-stretch: 200%;
}


.normal {
    font-style: normal;
}
  
.italic {
    font-style: italic;
}
  
.oblique {
    font-style: oblique;
}

      